<div>
    <h1> Binvenidos a la tienda {{name}} </h1>

</div>

{{#each products}}
  <li>
    <a href="/product/{{id}}">
      {{title}}
    </a>
    <p>{{description}}</p>
    <p>{{price}}</p>
    <p>{{thumbnail}}</p>
    <p>{{code}}</p>
    <p>{{stock}}</p>
  </li>
{{/each}}

<script src="/socket.io/socket.io.js" ></script>
<script src="/js/index.js" ></script>